{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Choisi</th>
                    <th>Composé</th>
                </tr>
                </thead>
                <tbody>
                {% for leg in legs %}
                    <tr>
                        <td>LEG {{ leg.id }}</td>
                        <td><a href="{{ path('legShowPage', {id: leg.id}) }}">{{ leg.name }}</a></td>
                        <td>{{ leg.choices|length }}</td>
                        {% set validated = 0 %}
                        {% for choice in leg.choices if choice.validated %}
                            {% set validated = validated + 1 %}
                        {% endfor %}
                        <td>{{ validated }}/54</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}