{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>LEG {{ leg.id }} : {{ leg.name }}</h3>

            {% for priority,c in choices %}
                <div class="choice">
                    <h4>Choix {{ priority }} : {{ c|length }}</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Autres choix</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for choice in c %}
                            {% set gabier = choice.gabier %}
                            <tr>
                                <td>
                                    <a href="{{ path('gabierShowPage', {id: gabier.id}) }}">{{ gabier.firstName }} {{ gabier.lastName }}{% if gabier.new %} <span class="badge badge-success">new</span>{% endif %}</a>
                                </td>
                                <td>
                                    <ul>
                                        {% for otherChoice in gabier.choices %}
                                            {% if otherChoice == choice %}
                                                <li>{{ otherChoice.priority }} - {{ otherChoice.leg.name }}</li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ path('legShowPage', {id: otherChoice.leg.id}) }}">{{ otherChoice.priority }}
                                                        - {{ otherChoice.leg.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}