{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ gabier.firstName }} {{ gabier.lastName }}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Leg</th>
                    <th>Priorité</th>
                </tr>
                </thead>
                <tbody>
                {% for choice in gabier.choices %}
                    <tr>
                        <td><a href="{{ path('legShowPage', {id: choice.leg.id}) }}">LEG {{ choice.leg.id }} {{ choice.leg.name }}</a></td>
                        <td>{{ choice.priority }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}